nav {
  background-color: transparent;
  margin: 0;
  padding: 15px;
}

.nav-content {
  margin: 0 auto;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  justify-content: center;
}

.nav-button a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s;
}

.nav-button a:hover {
  background-color: rgba(77, 19, 236, 0.63);
  border-radius: 10px;
  transition: 0.3s;
}

.nav-header {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}